@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.aiinhbfoop {
    box-sizing: border-box;
}

.aiinhbfoop, .aiinhbfoop * {
    font-family: "Open Sans", sans-serif !important;
}

.modal-impacthero-content-wrapper {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
}

.impacthero-modal {
    display: block !important;
    position: fixed !important;
    z-index: 99999999 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal-impacthero-content {
    background-color: #fefefe !important;
    margin: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif !important;
    font-size: 14px !important;
    width: 375px !important;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%) !important;
    padding: 10px !important;
    border-radius: 15px !important;
}

.impacthero-modal p {
    color: #000000 !important;
    margin-top: 7px !important;
    font-size: 14px !important;
    line-height: 1.6 !important;
}

.impacthero-modal .btn-ih {
    background: #eee !important;
    border: 1px solid #ddd !important;
    padding: 5px 10px !important;
    font-size: 16px !important;
    border-radius: 7px !important;
    outline: 0 !important;
    border: 0 !important;
    margin-right: 7px !important;
    cursor: pointer !important;
}

.impacthero-modal .btn-ih.btn-primary-ih {
    background-color: #0b57d0 !important;
    border: 1px solid #4F4F4F !important;
    color: #fff !important;
}

.impacthero-modal a {
    color: #1E73EC !important;
    text-decoration: none !important;
}

.hide{

display: none !important;

}