@font-face {
    font-family: 'Hero New';
    src: url('./fonts/hero-new-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hero New', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    letter-spacing: 0.03em;
}

header,
footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    max-width: 800px;
    /* Dobrei a largura do main */
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    margin-right: 10px;
    /* Espaço entre a imagem e o título */
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.green-title {
    color: #008000;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 99999;
}

.popup {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.side-by-side {
    display: flex;
    align-items: center;
}

.side-by-side img {
    margin-right: 10px;
    /* Espaço entre a imagem e o título */
}

.popup img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}

.popup h1 {
    font-size: 18px;
    margin: 10px 0;
}

.popup p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.buttons button,
.buttons a {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.allow {
    margin-right: 20px;
    background-color: #1a73e8;
    color: #fff;
}

.deny {
    background-color: #f1f1f1;
    color: #555;
}

.close {
    background-color: green;
    color: #fff;
}