#eurekaa_chatgpt_bard_sidebar
{
    all: unset !important;
    width: auto !important;
    height: 34px !important;
    position: fixed !important;
    right: 2px !important;
    top: calc(100vh - 100px) !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
    border-radius: 40px 0 0 40px !important;
    z-index: 2147483647 !important;
    overflow: hidden !important;
    /*box-shadow: 0 0 0 1px rgba(0,0,0,.08), -2px 4px 12px 1px rgba(0,0,0,.2) !important;*/
    /*
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 0 0px 1px, rgba(0, 0, 0, 0.2) 0 0 12px 1px !important;
            box-shadow: rgba(0, 0, 0, 0.08) 0 0 0px 1px, rgba(0, 0, 0, 0.2) 0 0 12px 1px !important;
    */
    -webkit-filter: none !important;
            filter: none !important;
            /*
    -webkit-transform: translate3d(22%, 0, 0) !important;
        -ms-transform: translate3d(22%, 0, 0) !important;
            transform: translate3d(22%, 0, 0) !important;
            */
    -webkit-transition: /*filter 0.3s ease, opacity 0.44s ease,*/ -webkit-transform 0.44s ease !important;
    transition: /*filter 0.3s ease, opacity 0.44s ease, */-webkit-transform 0.44s ease !important;
    -o-transition: /*filter 0.3s ease, opacity 0.44s ease*/ transform 0.44s ease !important;
    transition: /*filter 0.3s ease, opacity 0.44s ease*/ transform 0.44s ease !important;
    transition: /*filter 0.3s ease, opacity 0.44s ease*/ transform 0.44s ease, -webkit-transform 0.44s ease !important;
    border: 0 !important;
    outline: 0 !important;
    display: block !important;
    opacity: 0.75 !important;
    -webkit-box-shadow: -2.5px 4px 12px 1px rgba(0,0,0,0.2) !important;
            box-shadow: -2.5px 4px 12px 1px rgba(0,0,0,0.2) !important;
    /*
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;*/
}
/*
#eurekaa_chatgpt_bard_sidebar:hover
{
    filter: hue-rotate(55deg) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
        -ms-transform:translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
            */
   /* opacity: 1 !important;
}*/
#eurekaa_chatgpt_bard_sidebar:active, #eurekaa_chatgpt_bard_sidebar:focus, 
#eurekaa_chatgpt_bard_sidebar[beingdragged="true"]
{
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
   /* opacity: 1 !important;*/
}
#eurekaa_chatgpt_bard_sidebar[beingdragged="true"]
{

    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;

            -webkit-transition: none !important;
            transition: none !important;
            -o-transition: none !important;
            transition: none !important;
            transition: none !important;
            /*
    -webkit-filter: hue-rotate(55deg) !important;
            filter: hue-rotate(55deg) !important;

    -webkit-transition: -webkit-filter 0.4s ease !important;
    transition: -webkit-filter 0.4s ease !important;
    -o-transition: filter 0.4s ease !important;
    transition: filter 0.4s ease !important;
    transition: filter 0.4s ease, -webkit-filter 0.4s ease !important;
    */
}
#eurekaa_chatgpt_bard_sidebar[fs="true"]
{
    /*
    display: none !important;
    */
    -webkit-transform: translate3d(130%, 0, 0) !important;
            transform: translate3d(130%, 0, 0) !important;
}

#eurekaa_custom_ele
{
    all: unset !important;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2147483647 !important;
    background-color: transparent !important;
    /*
    background: #dddddd22 !important;
    backdrop-filter: blur(20px) !important;*/
    background: #001d5820 !important;
    -webkit-backdrop-filter: blur(10px) !important;
            backdrop-filter: blur(10px) !important;
}
body:has(#eurekaa_custom_ele),
html:has(#eurekaa_custom_ele)
{
    overflow: hidden !important;
}