:host 
{ 
    all: initial 
}
*
{ 
    /*visibility: unset !important;
    */
    font-family: Segoe UI, Tahoma, Calibri, Verdana, Helvetica, Georgia, sans-serif, arial, Times New Roman, serif;
    border: 0 solid; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    outline: none;
} 
body[expanded2="3"] * #input_searchbar2,
#content[expanded2="3"] * #input_searchbar2
{
  height: 120px;
  line-height: 30px; 
}
/*
body[expanded2="3"] * #searchbar2,
#content[expanded2="3"] * #searchbar2
{
  border-radius: 20px;
}
*/
/*
#crossbtn
{
    /*font-family: Times New Roman, serif, Code2000, Arial Unicode MS, ui-sans-serif, ui-monospace, ui-rounded, math, Lucida Grande, Lucida Console, Lucida Sans Unicode, Arial;
    *//*
    font-family: inherit;
    position: fixed;
    top: 30px;
    right: 40px;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    height: 65px;
    line-height: 65px;
    width: 65px;
    text-align: center;
    background: #ffffff;
    color: black;
    border-radius: 6px;
}
#crossbtn:hover
{
    border-color: mediumturquoise;
}*/
#content
{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


  
  body, #contain { 
    color:#fff;
    font-size:75%;
    line-height:normal;
    /*background:#000001;*/
    margin: 0;
      -webkit-text-size-adjust: 100%; 
      -moz-tab-size: 4; 
        -o-tab-size: 4; 
           tab-size: 4; 
      border: 0 solid; 
      -webkit-box-sizing: border-box; 
              box-sizing: border-box; 
      -ms-flex-negative: 0; 
          flex-shrink: 0; 
      font-size: 75%; 
      line-height: inherit; 
      margin: 0; 
      min-height: -webkit-fill-available; 
      /*min-width: 320px; */
      width: 100vw !important;
      
      padding: 0 !important; 
      overflow: auto !important; 
      overflow-x: hidden !important;
  } 
  body, html, #content
  {
    background-color: transparent;
    background: transparent;
    height: 100vh;
  }


  html { 
    background: #f5f9ff; /* #f3f8ff;*/
    line-height: normal; 
    -webkit-text-size-adjust: 100%;
      -webkit-locale: "en"; 
      border: 0 solid; 
      -webkit-box-sizing: border-box; 
              box-sizing: border-box; 
      -ms-flex-negative: 0; 
          flex-shrink: 0; 
      -webkit-text-size-adjust: 100%; 
      line-height: normal; 
      -moz-tab-size: 4; 
        -o-tab-size: 4; 
           tab-size: 4; 
      /*background: none;*/
      /*background: #000001; */
     /* */
      color: #fff; 
      height: -webkit-fill-available; 
      width: 100% !important; 
      overflow-y: overlay !important;
      
      padding: 0 !important; 
      overflow: auto !important; 
      overflow-x: hidden !important;

      -webkit-transition: background 0.3s ease;

      -o-transition: background 0.3s ease;

      transition: background 0.3s ease;
  } 
  html:hover, html:active, html[focused="true"]
  {
    background: #fff;
  }

  
  .flex-col { 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
          -ms-flex-direction: column; 
              flex-direction: column;
  } 
  
  .w-full { 
      width: 100%;
  } 
  
  .flex { 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  *,:after,:before { 
      border: 0 solid; 
      -webkit-box-sizing: border-box; 
              box-sizing: border-box;
  } 
  
  ::-webkit-scrollbar { 
      width: 0px; 
      cursor: pointer;
  } 
  
  ::-webkit-scrollbar-thumb { 
      border-radius: 20px; 
      cursor: pointer;
  } 
  
  ::-webkit-scrollbar-thumb { 
      background: #ddd !important;
  } 
  
  ::-webkit-scrollbar-thumb:hover { 
      cursor: pointer;
  } 
  
  ::-webkit-scrollbar-thumb:hover { 
      background: #ccc !important;
  } 
  
  ::-webkit-scrollbar-track { 
      background: transparent !important;
  } 
  
  .inline-flex { 
      display: -webkit-inline-box; 
      display: -ms-inline-flexbox; 
      display: inline-flex;
  } 
  
  .searchboxele > div { 
      margin: auto; 
      margin-top: 0px; 
      padding-top: 0; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
      flex-direction: column;
  } 
  
  #dualbars { 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex; 
      -webkit-box-orient: horizontal; 
      -webkit-box-direction: normal; 
      -ms-flex-direction: row; 
      flex-direction: row; 
      -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
      -ms-flex-line-pack: stretch; 
      align-content: stretch; 
      -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
      justify-content: space-between; 
      -webkit-box-align: stretch; 
      -ms-flex-align: stretch; 
      align-items: stretch;
  } 
  
  /*
  .shadow-2 { 
      box-shadow: rgba(0,0,0,0) 0px 0px 0px 0px, rgba(0,0,0,0) 0px 0px 0px 0px , #00000066 0 6px 6px -2px;
  } 
  */
  
  .p-2 { 
      padding: 8px;
  } 
  
  /*
  .bg-theme-bg-secondary { 
      background-color: #090909;
  } 
  */
  .border-theme-divider-tertiary { 
      border-color: #a8b3cf33;
  } 
  
  /*
  .border { 
      border-width: 1.5px;
  } 
  */
  
  .rounded-2xl { 
     /* border-radius: 6px;*/
  } 
  
  .h-full { 
      height: 100%;
  } 
  
  .relative { 
      position: relative;
  } 
  
  .searchbar { 
      /*border-radius: 6px; */
      font-size: 17px; 
      min-height: 45px; 
      height: -webkit-fit-content; 
      height: -moz-fit-content; 
      height: fit-content;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      outline: 0; 
      padding: 15.5px; 
      padding-left: 25px; 
      padding-right: 25px; 
      width: 100vw; /*calc(100% - 3px);*/
      z-index: 5; 
      position: relative;
  } 
  
  * .border-theme-divider-tertiary  { 
      border-color: #c3c3c370;
  } 
  
  .searchbar.bg-theme-bg-secondary { 
     /* background-color: #ffffff;*/
      -webkit-transition: background-color 0.4s ease; 
      -o-transition: background-color 0.4s ease; 
      transition: background-color 0.4s ease;
  } 
  /*
  #searchbar { 
      margin-right: 28px;
  } */
  
  /*
  .searchbar.bg-theme-bg-secondary:hover,
  .searchbar.bg-theme-bg-secondary:focus-within { 
    border-color: mediumturquoise !important;
  } 
  */
  textarea { 
      font-family: inherit; 
      font-size: 100%; 
      line-height: normal; 
      margin: 0;
  } 
  
  textarea { 
      overflow: auto;
  } 
  .srchico
  {
    position: absolute;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 22px;
    width: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  #searchbar2 > .srchico
  {
    height: 19px;
  }
  .input_searchbar { 
      all: unset; 
      outline: 0; 
      width: calc(100% - 60px); 
      height: 30px; 
      line-height: 30px; 
      margin-left: 28px; /*12px;*/
      -webkit-transition: height 0.33s ease; 
      -o-transition: height 0.33s ease; 
      transition: height 0.33s ease; 
      white-space: nowrap; 
      text-wrap: nowrap; 
      overflow: overlay;
      color: black;
      white-space: break-spaces;
      overflow-wrap: anywhere;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  } 
  
  .input_searchbar::-moz-selection { 
      background-color: #00ffa1; 
      color: black;
  } 
  
  .input_searchbar::selection { 
      background-color: #00ffa1; 
      color: black;
  } 
  
  #input_searchbar2::-webkit-scrollbar { 
      width: 4px; 
      height: 0; 
      cursor: pointer;
  } 
  
  .searchbar__icon { 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      align-items: center; 
      display: -webkit-inline-box; 
      display: -ms-inline-flexbox; 
      display: inline-flex; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
      height: 100%; 
      -webkit-box-pack: center; 
      -ms-flex-pack: center; 
      justify-content: center; 
      line-height: 50px; 
      opacity: .4; 
      position: absolute; 
      right: 15px; 
      text-align: center; 
      top: 0; 
      width: 30px; 
      z-index: 5; 
      -ms-flex-line-pack: center; 
      align-content: center;
  } 
  
  .cta_search { 
      cursor: pointer; 
      -webkit-filter: invert(1); 
      filter: invert(1); 
      z-index: 10;
  } 
  
  #suggbox { 
      all: inherit; 
      position: absolute; 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex; 
      height: auto; 
      height: -webkit-fit-content; 
      height: -moz-fit-content; 
      height: fit-content; 
      left: 0; 
      top: 100%; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
      -ms-flex-line-pack: start; 
      align-content: flex-start; 
      -webkit-box-align: start; 
      -ms-flex-align: start; 
      align-items: flex-start; 
      padding-top: 7px; 
      padding-bottom: 7px;
      background: #ffffff;
      /*border-radius: 6px;*/
      border-color: #c3c3c370 !important;
  } 
  
  .sugg_off * #suggbox  { 
      display: none !important;
  } 
  
  .selections { 
      width: auto; 
      width: -webkit-fit-content; 
      width: -moz-fit-content; 
      width: fit-content; 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex; 
      -webkit-box-orient: horizontal; 
      -webkit-box-direction: normal; 
      -ms-flex-direction: row; 
      flex-direction: row; 
      -ms-flex-wrap: nowrap; 
      flex-wrap: nowrap; 
      -ms-flex-line-pack: center; 
      align-content: center; 
      -webkit-box-pack: start; 
      -ms-flex-pack: start; 
      justify-content: flex-start; 
      -webkit-box-align: center; 
      -ms-flex-align: center; 
      align-items: center; 
      margin-bottom: 18px; 
      /*border-radius: 6px;*/ 
      overflow: hidden; 
      position: absolute; 
      top: -42px; 
      left: 0;
  } 
  
  img { 
      border-style: none;
  } 
  
  img { 
      height: auto; 
      max-width: 100%;
  } 
  
  img { 
      display: block; 
      vertical-align: middle;
  } 
  
  .searchbar__icon > img  { 
      height: 23px; 
      width: auto; 
      -webkit-filter: invert(1); 
              filter: invert(1);
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;
  } 
  
  .suggestions 
  { 
      width: 100%; 
      width: -webkit-fill-available;
      min-height: 0; 
      max-height: 45px; 
      line-height: 45px; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      cursor: pointer; 
      padding-left: 28px; 
      border-radius: 6px; 
      color: #444;
      overflow: hidden; 
      -o-text-overflow: ellipsis; 
      text-overflow: ellipsis; 
      text-wrap: nowrap;
      margin-top: 2px;
      margin-bottom: 2px;
  } 
  
  .sugg_off * .suggestions  { 
      display: none !important;
  } 
  
  .suggestions:hover,
  #temp_selection 
  { 
    background: #e9f0f1;
    color: #000;
    /*color: #fff;*/
  } 
  
  .selections > div  { 
      padding: 19px; 
      padding-top: 8px; 
      padding-bottom: 8px; 
      margin-right: 0; 
      background: #ffffff; 
      color: #333; 
      margin-bottom: 0; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      font-size: 12px; 
     /* cursor: pointer; */
      -webkit-transition: padding 0.33s ease; 
      -o-transition: padding 0.33s ease; 
      transition: padding 0.33s ease;
  } 
  
  .selections > div[selected="true"]  { 
      color: #000;
  } 
  
  .selections_c > span  { 
      display: inline-block; 
      width: 9px; 
      height: 9px; 
      background: #888; 
      border-radius: 50%; 
      margin-right: 6px; 
      /*border: 1px solid #a8b3cf24;*/
  } 
  
  .selections_c[selected="true"] > span  { 
      background: mediumturquoise
  }   

  @media (min-width: 1360px){ 
    .laptopL\:mx-auto { 
      margin-left: auto; 
      margin-right: auto;
    } 
  }     
/*
  @media (min-width: 0px) and (max-width: 840px) {
    .searchbar {
        width: 45vw;
    }
}

@media (min-width: 840px) and (max-width: 980px) {
    .searchbar {
        width: 385px;
    }
}

@media (min-width: 980px) and (max-width: 1120px) {
    .searchbar {
        width: 455px;
    }
}
*/