#flow_chatgpt_sidebar_t
{
    all: unset !important;
    width: 40px !important;
    height: 40px !important;
    position: fixed !important;
    right: 10px !important;
    top: calc(100vh - 85px) !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
    border-radius: 50% !important;
    z-index: 2147483647 !important;
    overflow: hidden !important;
    /*box-shadow: 0 0 0 1px rgba(0,0,0,.08), -2px 4px 12px 1px rgba(0,0,0,.2) !important;*/
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 0 0px 1px, rgba(0, 0, 0, 0.2) 0 0 12px 1px !important;
            box-shadow: rgba(0, 0, 0, 0.08) 0 0 0px 1px, rgba(0, 0, 0, 0.2) 0 0 12px 1px !important;
    -webkit-filter: none !important;
            filter: none !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    -webkit-transition: /*filter 0.3s ease, opacity 0.44s ease,*/ -webkit-transform 0.44s ease !important;
    transition: /*filter 0.3s ease, opacity 0.44s ease, */-webkit-transform 0.44s ease !important;
    -o-transition: /*filter 0.3s ease, opacity 0.44s ease*/ transform 0.44s ease !important;
    transition: /*filter 0.3s ease, opacity 0.44s ease*/ transform 0.44s ease !important;
    transition: /*filter 0.3s ease, opacity 0.44s ease*/ transform 0.44s ease, -webkit-transform 0.44s ease !important;
    border: 0 !important;
    outline: 0 !important;
    display: block !important;
    opacity: 0.8 !important;
    /*box-shadow: -2.5px 4px 12px 1px rgba(0,0,0,0.2) !important;*/
    /*
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    */
}
#flow_chatgpt_sidebar_t:hover
{
    /*filter: hue-rotate(55deg) !important;*/
    -webkit-transform: rotate(540deg) !important;
        -ms-transform: rotate(540deg) !important;
            transform: rotate(540deg) !important;
    opacity: 1 !important;
}
#flow_chatgpt_sidebar_t:active, #flow_chatgpt_sidebar_t:focus, 
#flow_chatgpt_sidebar_t[beingdragged="true"]
{
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
    opacity: 1 !important;
}
#flow_chatgpt_sidebar_t[beingdragged="true"]
{

    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;

            -webkit-transition: none !important;
            transition: none !important;
            -o-transition: none !important;
            transition: none !important;
            transition: none !important;
            /*
    -webkit-filter: hue-rotate(55deg) !important;
            filter: hue-rotate(55deg) !important;

    -webkit-transition: -webkit-filter 0.4s ease !important;
    transition: -webkit-filter 0.4s ease !important;
    -o-transition: filter 0.4s ease !important;
    transition: filter 0.4s ease !important;
    transition: filter 0.4s ease, -webkit-filter 0.4s ease !important;
    */
}
#flow_chatgpt_sidebar_t[fs="true"]
{
    /*
    display: none !important;
    */
    -webkit-transform: translate3d(130%, 0, 0) !important;
            transform: translate3d(130%, 0, 0) !important;
}